.productsContent{
    display: flex;
}

.productsContentNavbar{
    margin: 64px 45px;
}

.search{
    margin-bottom: 25px;
}

.search input{
    width: 100%;
    height: 35px;
    background-color: var(--color-blue-2);
    border: 0;
    padding-left: 8px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.category{
    margin-bottom: 25px;
}

.category p{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}

.categoryList{
    list-style: none;
}

.categoryIteam{
    cursor: pointer;
    margin: 4px 0;
}

.categoryIteam button{
    border: none;
    padding: 4px 0;
    background-color: transparent;
    letter-spacing: 1px;
    color: var(--color-blue-1);
    cursor: pointer;
}

.company{
    margin-bottom: 25px;
}

.company p{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}

.company select{
    margin-top: 12px;
    padding: 4px;
    background-color: var(--color-blue-2);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}


.colors{
    margin-bottom: 25px;

}

.colors p{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}

.colorsList{
    list-style: none;
    display: flex;
    align-items: center;
}

.colorIteam{
    cursor: pointer;
    margin: 4px ;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
}

.colorIteam:nth-child(1){
    border-radius: 0;
}

.colorIteam button{
    letter-spacing: 1px;
    color: transparent;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
    overflow: hidden;
}

.colorIteam:nth-child(1) button{
    color: var(--color-blue-1);
    transform: translateY(-4px);
}

.price{
    margin-bottom: 25px;

}

.price p{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700;
}

.price input{
    cursor: pointer;
}

.freeShip{
    margin-bottom: 25px;
}

.freeShip label{
    color: var(--color-black-1);
}

.freeShip input{
    margin-left: 4px;
    cursor: pointer;
    transform: translateY(10%);
}

.clearFilter{
    letter-spacing: 1px;
    padding: 4px 8px;
    background-color: var(--color-red-2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-white-1);
}

.productsContentShow{
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    width: 100%;
}

.control{
    display: flex;
    align-items: center;
}

.controlIcon1{
    font-size: 24px;
    color: var(--color-blue-1);
    margin-right: 8px;
    cursor: pointer;
}

.controlIcon2{
    font-size: 24px;
    color: var(--color-blue-1);
    margin-right: 40px;
    cursor: pointer;
}

.control span{
    color: var(--color-blue-1);
    margin-right: 40px;
    font-size: 16px;

}

.controlVector{
    width: 460px;
    height: 1px;
    margin-right: 40px;
    background-color: var(--color-blue-1);
}

.control label{
    color: var(--color-blue-1);
    margin-right: 20px;
    font-size: 16px;
}

.control select{
    height: 25px;
    font-size: 16px;
    border: none;
    color: var(--color-blue-1);
    cursor: pointer;
    outline: none;
}

.active{
    color: var(--color-black-1);
}

.categoryIteam .active{
    color: var(--color-black-1);
    font-weight: 600;
}
